html 
head 
title 
body 
include ./header.pug
br 
br 
section#team.container.text-center.pt-3
              h1(style="padding:20px") Meet Our Amazing Team
              p
                | We believe that creating a viable product or service requires a balanced operational strategy. Having the right variables in place is critical and everything, from leadership to digital transformation, organizational talent, and management practices, needs to be integrated for effective development. NeoSOFT
                | adopts the Golden Triangle (People, Process, and Technology) framework to work in cohesion to ensure stronger and better business results.
              .row.pt-2
                .col-md-4.d-block.m-auto
                  figure.figure
                    img.figure-img.img-flude.rounded-circle(src='./images/1669311622146.JPEG', width='250px', height='250px')
                    figcaption
                      h4 Andrew Simons
                      p.figure-caption Team
                .col-md-4.d-block.m-auto
                  figure.figure
                    img.figure-img.img-flude.rounded-circle(src='./images/1669311622159.JPEG', width='250px', height='250px')
                    figcaption
                      h4 Andrew Simons
                      p.figure-caption Team
                .col-md-4.d-block.m-auto
                  figure.figure
                    img.figure-img.img-flude.rounded-circle(src='./images/SfDKr1z3_4x.jpg', width='250px', height='250px')
                    figcaption
                      h4 Andrew Simons
                      p.figure-caption Team