html 
head 
title 
body 
include ./header.pug 
main.bgimage
.container.headerset
    h2(style='font-weight: lighter;padding-bottom: 10px;')
        | Driving Digital Growth,
        br
        | Led By Technology
    h4(style='font-weight: lighter;')
        Fueling Business with  sustained digital capabilities, ressilent products, and next-gen
        br
        solutions.
        button.btn.btn-danger.active.mt-4(style='background-color: red;' type='button') Let&apos;s Talk &nbsp; &rarr;