include ./header.pug 
#serv.fluid-container
        .pt-5.bg-rounded-3
          h1(style='text-align: center; padding:20px') Services
          p.lead.me-5.ms-5
            | NeoSOFT brings in deep domain and industry experience to build unique perspectives and meet the challenging requirements of clients from diverse industries. Leveraging the unique triple bottom line approach,
            | we have achieved tangible results and unlocked opportunities for growth, innovation, and value creation.
          .fluid-container
            .row.me-5.ms-5.mt-5.pb-5
              .col-sm-4
                .card.bg-light
                  .card-body
                    h5.card-title(style='font-weight: bold;') Digital Transformation
                    p.card-text
                      | Enabling business by leveraging technology and building a solid and sustaineddigital ecosystem.
                    a.btn.btn-info(href='#') Learn More
              .col-sm-4
                .card.bg-light
                  .card-body
                    h5.card-title(style='font-weight: bold;') Artificial Intelligence
                    p.card-text
                      | Augumenting human intelligence with artificial intelligence to maximize business outcomes.
                    a.btn.btn-info(href='#') Learn More
              .col-sm-4
                .card
                  .card-body.bg-light
                    h5.card-title(style='font-weight: bold;') Data Science
                    p.card-text
                      | Empowering business with pragmatic, scalable, and cost-effective data science solutions.
                    a.btn.btn-info(href='#') Learn More
            section#port.container.bg-light.text-center.pt-5.pb-5